body {
	margin: 0 40 0 40;
	padding: 0;
	text-align: center;
	font-family: "PT Sans ",Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #eeeeee;
}
header {
	width: 1200px;
	margin: 0 auto;
}
a {
 	font-weight: bold;
	text-decoration: none;
	font-size: 14px;

	color: #000000;
}
h2 {
	font-size:30px ;
	font-weight:bold; 
	line-height: 36px;
	color: #000000;
	margin-top: 57px;
	}
.inform-index:visited {
	color: #766357;
}

.inform:hover{
	color: #81b3d2;
}
.inform:active {
	color: rgba(0, 0, 0, 0.3);
}
ul {
	list-style-type: none;
}
.nav-list {
	display: flex;
}
.nav-list li {
	width: 239px;
}
.welcome {
	margin: 76px;
}
.mask {
	position: absolute;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
figure {
	margin: 0px;
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size:1200px 773px;
	}
p {
	font-size: 21px;
	color: #000000;
}
.date-button,
.hotel-inform {
	width: 458px;
	height: 58px;
	border: 0;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
}
.hotel-inform {
	font-size: 14px;
}
.date-button:hover,
.date-button:focus,
.hotel-inform:hover,
.hotel-inform:fokus {
	background-color: #669ec0;
}
.date-button:active,
.hotel-inform:active {
background-color: #5496bd;
color: rgba(255, 255, 255, 0.3);
}
.inform-bridge,
.inform-city {
 	display: flex;
 }
 .inform-bridge section,
 .inform-city section {
	width: 400px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	background-color: #81b3d2;
	color: #ffffff;
}
.advantage {
	display:flex;
}
.advantage li {
	width: 400px;
}
.search a,
.booking{
	font-weight: bold;
	line-height: 26px;
	font-size: 21px;
	color: #ffffff;
	background-color: #766357;
}
.search {
	padding-top: 36px;
	padding-bottom: 31px;
	margin-left: 316px;
	background-color: #766357;
	width: 568px;
}
 .booking {
	font-size: 14px;
}
.search a:hover,
.search a:focus,
.booking:hover,
.booking:focus {
	background-color: #604e43;
}
.search:active,
.booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
.title-first {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}
.title-second {
	margin-top: 50px;
	line-height: 26px;
	font-size: 21px;
	color: #000000;	
} 
.container-title {
	margin-top: 140px;
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.note-first {
	font-family: "PT Sans Regular",Arial,sans-serif;
	font-size: 14px;
	color: #ffffff;
}
.note-second {
	margin-bottom: 56px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.container-section {
	display: flex;
	flex-direction: row;
}
.container-section section {
	width: 400px;
}
						/*форма ввода дат */
.date {
	/*display: flex;
	flex-direction: column;*/
	margin-left: 316px;
	width: 568px;
	height: 395px;
}
.date-value {
	border: 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	background-color: #f2f2f2;
}
.date-value:hover {
	border: 0;
	background-color: #ebebeb;
}
.date-value:focus {
	border: 0;
	background-color: #ffffff;
	/*border: solid 2px #e5e5e5; не работает*/
}
.date-calendar:hover  path{
	fill: #000000;

}
.date-calendar:active path{
	fill: #81b3d2;
}
.date-age {
	width: 284px;
}

.up,
.down {
	border: 0;
	background-color: #f2f2f2;
	color: #cacaca;
}
.up:hover,
.down:hover {
	border: 0;
	background-color: #f2f2f2;
	color: #000000;
}
.up:active,
.down:active {
	border: 0;
	background-color: #f2f2f2;
	color: #81b3d2;
}
.net {
	display: flex;
	margin-top: 36px;
}
.net a {
	background-color: #81b3d2;
}
.net a:hover,
.net a:fokus {
background-color: #669ec0;
}
.net a:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.net a:active img {
	opacity: 0.3;
}
/*.tw{
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}*/


.web{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}
.web-logo:hover path {
	fill: #81b3d2;
}
.web-logo:active path{
	fill:#503e33;
}
/*                      внутренняя страница*/
.container-inner-hotel {
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size:  1200px 562px;
	height: 217px;
	display: flex;
}

.container-inner {
	width:1200px;
	margin: 0 auto;
}
.container-inner-hotel  div {
	width: 400px;
}
.type-hotel {
	font-size: 16px;
	color: #ffffff;class="type-hotel";
}
.container-inner label {
	color: #ffffff;
}
.list-hotel li {
	display: flex;
}
.found {
	color: rgba(0, 0, 0, 0.3);
	font-family:"PT Sans Regular",Arial,sans-serif;
	font-size: 12px;
}
.found:hover,
.found:focus {
	color: #81b3d2;
}
.found:active {
	color: #000000;
}
.icon-down:hover path{
	fill: #000000;
}
.icon-up:hover path{
	fill: #000000;
}
.icon-down:active path{
	fill: #81b3d2;
}
.icon-up:active path{
	fill: #81b3d2;
}
/*footer*/
footer {
	width: 1200px;
	margin: 0 auto;
	display: flex;
}
.footer-tel {
	text-align: left;
	width: 400px;
}
.footer-net {
width: 400px;
}
.footer-logo {
	width: 400px;
}
.tel{
	font-size: 21px;
}
.cub {
width: 48px;
height: 46px;
background-color:#81b3d2;
}
/*чекбоксы
.container-inner input {
	-webkit-appearance:none;
}
.container-inner {
	background-color: #000000;
}
.check-box {
	width: 27px;
	height: 23px;
	background-color: tomato;
	background-image: url("../img/checkbox-on.svg");
}*/