body {
	margin: 0 40 0 40;
	padding: 0;
	text-align: center;
	font-family: "PT Sans ",Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #eeeeee;
}
header {
	width: 1200px;
	height: 56px;
	margin: 0 auto;
	/*background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: center;*/
}
a {
 	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	color: #000000;
}
h2 {
	font-size:30px ;
	font-weight:bold; 
	line-height: 36px;
	color: #000000;
	margin-top: 57px;
	}
.inform-index:visited {
	color: #766357;
}

.inform:hover{
	color: #81b3d2;
}
.inform:active {
	color: rgba(0, 0, 0, 0.3);
}
ul {
	list-style-type: none;
}
.nav-list {
	display: flex;
	padding-left: 0;
}
.nav-list li {
	width: 239px;
}
.nav-list-logo {
	width: 244px;
	position: relative;
	z-index: 1;
}
.welcome {
	margin: 76px;
}
.mask {
	position: absolute;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
figure {
	margin: 0px;
	background-image: url("../img/intro-mask.svg"),url("../img/background-photo.jpg");
	background-position: 0 101%, 0 0;
	background-repeat: no-repeat;
}
p {
	font-size: 21px;
	color: #000000;
}
.date-button,
.hotel-inform {
	width: 458px;
	height: 58px;
	border: 0;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
}
.hotel-inform {
	font-size: 14px;
}
.date-button:hover,
.date-button:focus,
.hotel-inform:hover,
.hotel-inform:fokus {
	background-color: #669ec0;
}
.date-button:active,
.hotel-inform:active {
background-color: #5496bd;
color: rgba(255, 255, 255, 0.3);
}
.inform-bridge,
.inform-city {
 	display: flex;
 }
 .inform-bridge section,
 .inform-city section {
	width: 400px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	background-color: #81b3d2;
	color: #ffffff;
}
.advantage {
	display:flex;
}
.advantage li {
	width: 400px;
}
.search a,
.booking{
	font-weight: bold;
	line-height: 26px;
	font-size: 21px;
	color: #ffffff;
	background-color: #766357;
}
.search {
	padding-top: 36px;
	padding-bottom: 31px;
	margin-left: 316px;
	background-color: #766357;
	width: 568px;
	margin-bottom: 0;
	
	}
 .booking {
	font-size: 14px;
}
.search a:hover,
.search a:focus,
.booking:hover,
.booking:focus {
	background-color: #604e43;
}
.search:active,
.booking:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
.title-first {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}
.title-second {
	margin-top: 50px;
	line-height: 26px;
	font-size: 21px;
	color: #000000;	
} 
.container-title {
	margin-top: 140px;
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}
.note-first {
	font-family: "PT Sans Regular",Arial,sans-serif;
	font-size: 14px;
	color: #ffffff;
}
.note-second {
	margin-bottom: 56px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}
.container-section {
	display: flex;
	flex-direction: row;
}
.container-section section {
	width: 400px;
}
						/*форма ввода дат */
.date {
	display: flex;
	flex-direction: column;
	margin-left: 316px;
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	}
.date-value-in {
	margin-top: 55px;
	margin-bottom: 29px;
	margin-left: 55px;
	width: 458px;
}
.date-value-out{
	margin-left: 55px;
	width: 458px;
}

.date-value {
	border: 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	background-color: #f2f2f2;
	width: 346px;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	background-position: right;
}
.date-value:hover {
	border: 0;
	background-color: #ebebeb;
}
.date-value:focus {
	border: 0;
	background-color: #ffffff;
	/*border: solid 2px #e5e5e5; не работает*/
}
.date-calendar path {
	fill: #cacaca;
}
.date-calendar:hover  path{
	fill: #000000;

}
.date-calendar:active path{
	fill: #81b3d2;
}
.date-age {
	margin-top: 29px;
	margin-left: 55px;
	display: flex;
	width: 458px;
}

.date-age-old,
.date-age-child {
	width: 229px;
	text-align: left;
}
.date-value-age {
	width: 38px;
}
.up,
.down {
	border: 0;
	background-color: #f2f2f2;
	color: #cacaca;
	width: 38px;
}
.up:hover,
.down:hover {
	border: 0;
	background-color: #f2f2f2;
	color: #000000;
}
.up:active,
.down:active {
	border: 0;
	background-color: #f2f2f2;
	color: #81b3d2;
}
.date-button {
	margin-top: 54px;
	margin-left: 55px;
	padding-left: 0;
	padding-right: 0;
}
/*.map {
	position: relative;
	bottom: 395px;
}*/  

                         		 /*иконки соцсетей*/
.net {
	display: flex;
	margin-top: 36px;
}

.net a {
	background-color: #81b3d2;
}
.net a:hover,
.net a:fokus {
background-color: #669ec0;
}
.net a:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.net a:active img {
	opacity: 0.3;
}
.cub img {
	position: relative;
	top: 10px;
}
.cub {
	margin-right: 6px;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

/*                     				 внутренняя страница*/
.container-inner-hotel {
	background-image: url("../img/filter-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size:  1200px 562px;
	height: 217px;
	display: flex;
}

.container-inner {
	width:1200px;
	margin: 0 auto;
}
.container-inner-hotel  div {
	width: 400px;
}
.type-hotel {
	font-size: 16px;
	color: #ffffff;
}
.type-hotel-list {
	display: flex;
	flex-direction: column;
}
.container-inner label {
	color: #ffffff;
}
                           /*строка найдено*/
.list-hotel  {
	display: flex;
	margin-bottom: 64px;
	padding-left: 0;

}
.found-item1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin-right: 22px;
	min-width: 130px;
}
.found-item2 {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;

	margin-right:46px;
	margin-top: 5px;
}
.found-item3 a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #81b3d2;
	margin-right: 10px;
}
.found a {
	color: rgba(0, 0, 0, 0.3);
	font-weight: normal;
	line-height: 18px;
	font-size: 12px;
	margin-right: 12px;
}
.found a:hover,
.found a:focus {
	color: #81b3d2;
}
.found a:active {
	color: #000000;
}
.found-item4 {
	margin-left: 612px;
}
.icon-down:hover path,
.icon-up:hover path{
	fill: #000000;
}
.icon-down:active path,
.icon-up:active path{
	fill: #81b3d2;
}
                     /*описание отелей*/
.description {
	padding-left: 72px;
}

.description li {
	display: flex;
	margin-top: 60px;
	padding-left: 0;
	text-align: left;
}
.description-item1,
.description-item2 {
	display: flex;
	flex-direction: column;
}
.description-item1 h3 {
	margin-top: 0;
}


				/*footer*/
footer {
	width:1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.footer-tel {
	width: 400px;
	text-align: left;
	padding-left: 132px;
}

.footer-net {
	width: 400px;
	

}
.footer-logo {
	width: 400px;

}
.tel{
	font-size: 21px;
}
/*чекбоксы
.container-inner input {
	-webkit-appearance:none;
}
.container-inner {
	background-color: #000000;
}
.check-box {
	width: 27px;
	height: 23px;
	background-color: tomato;
	background-image: url("../img/checkbox-on.svg");
}*/
.web{
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
	vertical-align: center;
}
.web-logo {
	vertical-align:center;
	display: inline-block;
}
.web-logo:hover path {
	fill: #81b3d2;
}
.web-logo:active path{
	fill:#503e33;
}
